@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Playball');

:root {
  --main-blue: #3366CC;
}

/* ===== GENERAL STYLES ====== */
body {
  color: ghostwhite;
  font-family: "Playball", cursive;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
