@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Playball');

/* GENERAL STYLES */
body {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  position: relative;
  margin: 0 auto;
}
a {
  /* color: #0033CC !important; */
  color: #3366CC !important;
}
/* change hover color of nav links to golden-yellow */
a:hover {
  color: gold !important;
}
.container {
  margin-left: 24%;
}

/* TOPBAR */
.topbar {
  background-image: url(./images/watercolor-topbar-blue.png);
  height: 1.5rem;
}

/* NAVIGATION */
.navbar {
  background-color: white !important;
}

.nav-link, .nav-link-left {
  margin: 2% 5%;
}
.nav-link-left {
  margin-left: -20%;
}

/* SPA SECTIONS */
#home,
#our-story,
#details,
#photos,
#registry,
#guestbook {
  height: 100vh;
}

/* IMAGES */
.section-img {
  height:auto;
  width: 100vw;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 0.5em;
        margin-right : 0.5em;
    }
}
